@using BitirmeProjesi.Models.Sınıflar
@model List<HomeSSS>

<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sıkça Sorulan Sorular</h2>
        </div>
        @foreach(var x in Model) { 
        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">@x.AltBaslik<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        @x.Aciklama
                    </p>
                </div>
            </li>
        </ul>
        }
    </div>
</section>
