
@{
    ViewBag.Title = "Denemeleristatistigi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<title>Denemeler İstatistiği</title>
<div style="background-color: white; border-radius: 5px; margin-top: 30px; margin-left:60px; margin-right:100px ">
    <p style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans- serif; font-size: 20px; color: #8789FF;margin-top:14px; ">
        Denemeler İstatistiği
    </p>
</div>

<link rel="stylesheet" href="~/Web2/assets/vendor/css/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="~/Web2/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
<script src="~/Web2/assets/vendor/js/bootstrap.js"></script>

<div class="row mb-5" style="margin-top:30px;">
    <div class="col-md-6 col-lg-4 mb-3" style="margin-left:200px;">
        <div class="card h-100">
            <img class="card-img-top" src="~/Web2/assets/img/elements/tytist.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">TYT Deneme İstatistikleri</h5>
                <p class="card-text">
                    Bu bölümde TYT deneme sonuçlarınızın istatistiklerine ulaşabilirsiniz.
                </p>
                <a href="/istatistikler/TYTDenemeistatistigi/" class="btn btn-outline-primary">İstatistiklere Git</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="~/Web2/assets/img/elements/aytist.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">AYT Deneme İstatistikleri</h5>
                <p class="card-text">
                    Bu bölümde AYT deneme sonuçlarınızın istatistiklerine ulaşabilirsiniz.
                </p>
                <a href="/istatistikler/AYTDenemeistatistigi/" class="btn btn-outline-primary">İstatistiklere Git</a>
            </div>
        </div>
    </div>

</div>

