
@{
    ViewBag.Title = "Konularistatistigi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link rel="stylesheet" href="~/Web2/assets/vendor/css/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="~/Web2/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
<script src="~/Web2/assets/vendor/js/bootstrap.js"></script>

<div class="row mb-5" style="margin-top:30px;">
    <div class="col-md-6 col-lg-4 mb-3" style="margin-left:200px;">
        <div class="card h-100">
            <img class="card-img-top" src="~/Web2/assets/img/elements/tytist.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">TYT Dersleri İstatistikleri</h5>
                <p class="card-text">
                    Bu bölümde TYT konulardaki ilerlemeninizin istatistiklerine ulaşabilirsiniz.
                </p>
                <a href="/istatistikler/TYTistatistigi/" class="btn btn-outline-primary">İstatistiklere Git</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="~/Web2/assets/img/elements/aytist.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">AYT Dersleri İstatistikleri</h5>
                <p class="card-text">
                    Bu bölümde AYT konulardaki ilerlemeninizin istatistiklerine ulaşabilirsiniz.
                </p>
                <a href="/istatistikler/AYTistatistigi/" class="btn btn-outline-primary">İstatistiklere Git</a>
            </div>
        </div>
    </div>

</div>

