
@{
    ViewBag.Title = "TYTDersler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<title>TYT Dersleri</title>
<div style="background-color: white; border-radius: 5px; margin-top: 50px; margin-left:60px; margin-right:60px ">
    <p style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans- serif; font-size: 20px; color: #8789FF;margin-top:14px; ">
        TYT Dersleri
    </p>
</div>

<div class="row" style="margin-top:75px; margin-left:50px;margin-right:50px;">
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TurkceKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">TÜRKÇE</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTMatKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px; ">
                <div class="card-body">MATEMATİK</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTGeoKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px; ">
                <div class="card-body">GEOMETRİ</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTFizKonuGetir/">
            <div style="background-color: #696CFF; border-radius: 10px; color: snow; text-align: center; font-weight: bold; font-size: 25px; ">
                <div class="card-body">FİZİK</div>
            </div>
        </a> 
    </div>
</div>

@*Aralık 1*@

<div class="row" style="margin-top:30PX;margin-left:50px;margin-right:50px;">
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTKimKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">KİMYA</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTBiyoKonuGetir/">
            <div style="background-color: #696CFF; border-radius: 10px; color: snow; text-align: center; font-weight: bold; font-size: 25px; ">
                <div class="card-body">BİYOLOJİ</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTTarKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">TARİH</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTCogKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">COĞRAFYA</div>
            </div>
        </a>
    </div>
</div>

@*Aralık 2*@

<div class="row" style="margin-top:30PX;margin-left:50px;margin-right:50px;">
    <div class="col-xl-3 col-md-6"style="margin-left:290px;">
        <a href="/Konular/TYTDinKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">DİN KÜLTÜRÜ</div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="/Konular/TYTFelKonuGetir/">
            <div style="background-color: #696CFF; color: snow; border-radius: 10px; text-align: center; font-weight: bold; font-size: 25px;">
                <div class="card-body">FELSEFE</div>
            </div>
        </a>
    </div>
</div>